<!DOCTYPE html>
<html>
<head>
	<title>{% block fulltitle%}{% block title %}{% endblock %}-{{ config['SITE_NAME'] }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />

    <link href="{{ theme_static('mobile/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ theme_static('mobile/css/mobile_module.css') }}" rel="stylesheet" type="text/css" media="all" />



    <script type="text/javascript" src="{{ theme_static('mobile/js/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ theme_static('mobile/js/prefixfree.min.js') }}"></script>
    <script type="text/javascript" src="{{ theme_static('mobile/js/dialog.js') }}"></script>
    <script type="text/javascript" src="{{ theme_static('mobile/js/flipsnap.min.js') }}"></script>
    <script type="text/javascript" src="{{ theme_static('mobile/js/mobile_module.js') }}"></script>


    {% block head_extend %}{% endblock %}
</head>
<body>
{% block head %}

{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}
{% block footer_extend %}
{% endblock %}
</body>
</html>